# STADVDB GROUP 10
## Members:
* Wray Nathan Andres
* Reign Elaiza Larraquel
* Isaiah Sam Pascual
* Benmar Sim Ramirez

## Import

In [2]:
import pandas as pd
import os 

current_dir = os.getcwd()

## Reading the Data Set

In [3]:
clinics_df = pd.read_csv(f"{current_dir}/smd-ns-appointments/clinics.csv", encoding='ISO-8859-1')

clinics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53962 entries, 0 to 53961
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clinicid      53962 non-null  object
 1   hospitalname  17538 non-null  object
 2   IsHospital    53962 non-null  bool
 3   City          53962 non-null  object
 4   Province      53962 non-null  object
 5   RegionName    53962 non-null  object
dtypes: bool(1), object(5)
memory usage: 2.1+ MB

In [4]:
px_df = pd.read_csv(f"{current_dir}/smd-ns-appointments/px.csv", encoding='ISO-8859-1')

px_df.info()

C:\Users\reign\AppData\Local\Temp\ipykernel_17264\2663833823.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  px_df = pd.read_csv(f"{current_dir}/smd-ns-appointments/px.csv", encoding='ISO-8859-1')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6507813 entries, 0 to 6507812
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   pxid    object
 1   age     object
 2   gender  object
dtypes: object(3)
memory usage: 149.0+ MB

In [5]:
doctors_df = pd.read_csv(f"{current_dir}/smd-ns-appointments/doctors.csv", encoding='ISO-8859-1')

doctors_duplicate = doctors_df[doctors_df.duplicated()]

print(doctors_duplicate)
print("--------------------------------------------------------------------------------------")
print(doctors_df['age'].unique())
print("--------------------------------------------------------------------------------------")
print(doctors_df['mainspecialty'].unique())

doctors_df.info()

Empty DataFrame
Columns: [doctorid, mainspecialty, age]
Index: []
--------------------------------------------------------------------------------------
[  41.   43.   26.   34.   50.   62.   38.   57.   44.   59.   39.   49.
   55.   37.   nan   40.   48.   51.   46.   45.   54.   61.   60.   31.
   65.   36.   72.   64.   35.   47.   33.   68.   42.   73.   53.   58.
   71.   52.   56.   67.   63.   66.   81.   69.  160.   70. 1048.   32.
   91.   75.   30.   78.   76.   27.   29.   74.    8.    7.   28.  124.
  123.   80.  113.   24.   25.   92.   77.  104.   23.   83.    4.   86.
   88.   21.   22.   84.   79.  944.   17.  132.   85.  938.]
--------------------------------------------------------------------------------------
['General Medicine' 'Family Medicine' 'Vascular Medicine' ...
 'Bone alignment therapy' 'Healot Biomekaniks' 'Allergist']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60024 entries, 0 to 60023
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   doctorid       60024 non-null  object
 1   mainspecialty  27055 non-null  object
 2   age            20028 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.4+ MB

## Cleaning of data

### Clinics Data Cleaning

In [22]:
clinics_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17538 entries, 0 to 53960
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clinicid      17538 non-null  object
 1   hospitalname  17538 non-null  object
 2   IsHospital    17538 non-null  bool
 3   City          17538 non-null  object
 4   Province      17538 non-null  object
 5   RegionName    17538 non-null  object
dtypes: bool(1), object(5)
memory usage: 839.2+ KB

In [23]:
print(clinics_df['RegionName'].unique())

['NCR' 'XIII' 'II' 'VII' 'IV-A' 'I' 'VI' 'III' 'XI' 'XII' 'X' 'IX' 'VIII'
 'CAR' 'V' 'IV-B' 'BARMM']

In [24]:
clinics_duplicate = clinics_df[clinics_df.duplicated()]
print(clinics_duplicate)

Empty DataFrame
Columns: [clinicid, hospitalname, IsHospital, City, Province, RegionName]
Index: []

In [7]:
clinics_df['IsHospital'].value_counts()

IsHospital
False    36424
True     17538
Name: count, dtype: int64

In [8]:
clinics_df.shape

(53962, 6)

In [27]:
nan_variables = clinics_df.columns[clinics_df.isnull().any()].tolist()
dropped_variables = list(set(nan_variables) - set('hospitalname'))
print(dropped_variables)

[]

In [25]:
clinics_df = clinics_df.dropna(axis=0, subset=dropped_variables)

In [10]:
clinics_df.shape

(17538, 6)

In [11]:
clinics_df['hospitalname'].value_counts()

hospitalname
Asian Hospital and Medical Center        466
The Medical City                         460
St. Luke's Medical Center-Global City    449
Makati Medical Center                    425
St. Luke's Medical Center-Quezon City    387
                                        ...
Dr. Cabuco Hospital                        1
Davao Mediquest Hospital                   1
Cabiao General Hospital, Inc.              1
Mexico Community Hospital                  1
Alegre Medical Clinic                      1
Name: count, Length: 1127, dtype: int64

In [31]:
clinics_df['RegionName'] = clinics_df['RegionName'].str.extract(r'\((.*?)\)')
print(clinics_df['RegionName'])

0        NaN
1        NaN
2        NaN
3        NaN
5        NaN
        ...
53921    NaN
53926    NaN
53947    NaN
53951    NaN
53960    NaN
Name: RegionName, Length: 17538, dtype: object

In [32]:
clinics_df['RegionName'] = clinics_df['RegionName'].replace({'Cotabato Region': 'XII'})

In [33]:
clinics_df['RegionName'].unique()

array([nan])

### PX Data Cleaning

In [28]:
px_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6507812 entries, 0 to 6507812
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   pxid    object
 1   age     object
 2   gender  object
dtypes: object(3)
memory usage: 198.6+ MB

In [30]:
px_df['gender'].value_counts()

gender
FEMALE    3642569
MALE      2865243
Name: count, dtype: int64

In [16]:
px_df.shape

(6507813, 3)

In [17]:
px_df = px_df[px_df['gender'] != 'gender']

In [18]:
px_df.shape

(6507812, 3)

In [19]:
px_df['gender'].value_counts()

gender
FEMALE    3642569
MALE      2865243
Name: count, dtype: int64

### Doctors Data Cleaning

In [34]:
doctors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60024 entries, 0 to 60023
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   doctorid       60024 non-null  object
 1   mainspecialty  27055 non-null  object
 2   age            20028 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.4+ MB

In [15]:
doctors_df['mainspecialty'].value_counts()

mainspecialty
Internal Medicine                           3812
General Medicine                            2317
Pediatrics                                  1709
Family Medicine                              894
General Physician                            881
                                            ...
General Physician (Pediatrics and Adult)       1
Marc                                           1
Orthopaedics (Bone and Joint Surgery)          1
Generalists                                    1
Allergist                                      1
Name: count, Length: 3973, dtype: int64

In [35]:
doctors_df['age'].value_counts()

age
34.0     1215
35.0     1082
33.0      973
37.0      971
36.0      953
         ...
91.0        1
124.0       1
123.0       1
92.0        1
938.0       1
Name: count, Length: 81, dtype: int64

In [43]:
age_range = doctors_df[doctors_df['age'] > 100]
print(age_range)

                               doctorid  \
318    F73B76CE8949FE29BF2A537CFA420E8F
484    1BB91F73E9D31EA2830A5E73CE3ED328
1727   CD14821DAB219EA06E2FD1A2DF2E3582
1934   D7A84628C025D30F7B2C52C958767E76
3038   8B313CBF30999888DE32DA1EC83FF503
3066   1160453108D3E537255E9F7B931F4E90
5598   674F3C2C1A8A6F90461E8A66FB5550BA
8415   3488330BA18D83E3D0AB177178CA66EB
31154  88D619AD97413B44D6659073B7B12F32
35035  C726062049174DD685BBB960958FA1C1
59136  B02EE9D17C3B943AFFA39F55282793FC

                                     mainspecialty     age
318                               Family medicines   160.0
484                      Obstetrics and Gynecology  1048.0
1727                                  internal med   124.0
1934                                             1   123.0
3038                                         OBGYN   113.0
3066                                            In   113.0
5598                                      Internal   104.0
8415                             Internal Medicine   104.0
31154                                           OB   944.0
35035                                          NaN   132.0
59136  Psychology, Psychotherapy, EAP, Counselling   938.0

Export to CSV

In [21]:
clinics_df.to_csv('cleaned/clinics.csv', index=False)
px_df.to_csv('cleaned/px.csv', index=False)
doctors_df.to_csv('cleaned/doctors.csv', index=False)