# STADVDB GROUP 10
## Members:
* Wray Nathan Andres
* Reign Elaiza Larraquel
* Isaiah Sam Pascual
* Benmar Sim Ramirez

## Import

In [1]:
import pandas as pd
import os 

current_dir = os.getcwd()

## Reading the Data Set

In [2]:
clinics_df = pd.read_csv(f"{current_dir}/smd-ns-appointments/clinics.csv", encoding='ISO-8859-1')

clinics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53962 entries, 0 to 53961
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clinicid      53962 non-null  object
 1   hospitalname  17538 non-null  object
 2   IsHospital    53962 non-null  bool
 3   City          53962 non-null  object
 4   Province      53962 non-null  object
 5   RegionName    53962 non-null  object
dtypes: bool(1), object(5)
memory usage: 2.1+ MB

In [3]:
px_df = pd.read_csv(f"{current_dir}/smd-ns-appointments/px.csv", encoding='ISO-8859-1')

px_df.info()

C:\Users\reign\AppData\Local\Temp\ipykernel_9784\2663833823.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  px_df = pd.read_csv(f"{current_dir}/smd-ns-appointments/px.csv", encoding='ISO-8859-1')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6507813 entries, 0 to 6507812
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   pxid    object
 1   age     object
 2   gender  object
dtypes: object(3)
memory usage: 149.0+ MB

In [4]:
doctors_df = pd.read_csv(f"{current_dir}/smd-ns-appointments/doctors.csv", encoding='ISO-8859-1')

doctors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60024 entries, 0 to 60023
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   doctorid       60024 non-null  object
 1   mainspecialty  27055 non-null  object
 2   age            20028 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.4+ MB

In [5]:
appointments_df = pd.read_csv(f"{current_dir}/smd-ns-appointments/appointments.csv", encoding='ISO-8859-1')

appointments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9752932 entries, 0 to 9752931
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   pxid        object
 1   clinicid    object
 2   doctorid    object
 3   apptid      object
 4   status      object
 5   TimeQueued  object
 6   QueueDate   object
 7   StartTime   object
 8   EndTime     object
 9   type        object
 10  Virtual     object
dtypes: object(11)
memory usage: 818.5+ MB

## Cleaning of data

### Clinics Data Cleaning

In [6]:
clinics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53962 entries, 0 to 53961
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clinicid      53962 non-null  object
 1   hospitalname  17538 non-null  object
 2   IsHospital    53962 non-null  bool
 3   City          53962 non-null  object
 4   Province      53962 non-null  object
 5   RegionName    53962 non-null  object
dtypes: bool(1), object(5)
memory usage: 2.1+ MB

In [7]:
print(clinics_df['RegionName'].unique())

['National Capital Region (NCR)' 'Ilocos Region (I)' 'Caraga (XIII)'
 'Cagayan Valley (II)' 'Central Visayas (VII)' 'CALABARZON (IV-A)'
 'Western Visayas (VI)' 'Central Luzon (III)' 'MIMAROPA (IV-B)'
 'Bicol Region (V)' 'Davao Region (XI)'
 'SOCCSKSARGEN (Cotabato Region) (XII)' 'Northern Mindanao (X)'
 'Zamboanga Peninsula (IX)' 'Eastern Visayas (VIII)'
 'Cordillera Administrative Region (CAR)'
 'Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)']

In [8]:
clinics_duplicate = clinics_df[clinics_df.duplicated()]
print(clinics_duplicate)

Empty DataFrame
Columns: [clinicid, hospitalname, IsHospital, City, Province, RegionName]
Index: []

In [9]:
clinics_df['IsHospital'].value_counts()

IsHospital
False    36424
True     17538
Name: count, dtype: int64

In [10]:
clinics_df.shape

(53962, 6)

In [11]:
nan_variables = clinics_df.columns[clinics_df.isnull().any()].tolist()
dropped_variables = list(set(nan_variables) - set('hospitalname'))
print(dropped_variables)

['hospitalname']

In [12]:
clinics_df = clinics_df.dropna(axis=0, subset=dropped_variables)

In [13]:
clinics_df.shape

(17538, 6)

In [14]:
clinics_df['hospitalname'].value_counts()

hospitalname
Asian Hospital and Medical Center        466
The Medical City                         460
St. Luke's Medical Center-Global City    449
Makati Medical Center                    425
St. Luke's Medical Center-Quezon City    387
                                        ...
Dr. Cabuco Hospital                        1
Davao Mediquest Hospital                   1
Cabiao General Hospital, Inc.              1
Mexico Community Hospital                  1
Alegre Medical Clinic                      1
Name: count, Length: 1127, dtype: int64

In [15]:
clinics_df['RegionName'] = clinics_df['RegionName'].str.extract(r'\((.*?)\)')
print(clinics_df['RegionName'])

0         NCR
1         NCR
2         NCR
3         NCR
5        XIII
         ...
53921     NCR
53926    IV-A
53947     VII
53951      XI
53960     NCR
Name: RegionName, Length: 17538, dtype: object

In [16]:
clinics_df['RegionName'] = clinics_df['RegionName'].replace({'Cotabato Region': 'XII'})

In [17]:
clinics_df['RegionName'].unique()

array(['NCR', 'XIII', 'II', 'VII', 'IV-A', 'I', 'VI', 'III', 'XI', 'XII',
       'X', 'IX', 'VIII', 'CAR', 'V', 'IV-B', 'BARMM'], dtype=object)

### PX Data Cleaning

In [18]:
px_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6507813 entries, 0 to 6507812
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   pxid    object
 1   age     object
 2   gender  object
dtypes: object(3)
memory usage: 149.0+ MB

In [19]:
px_df['gender'].value_counts()

gender
FEMALE    3642569
MALE      2865243
gender          1
Name: count, dtype: int64

In [20]:
px_df.shape

(6507813, 3)

In [21]:
px_df = px_df[px_df['gender'] != 'gender']

In [22]:
px_df.shape

(6507812, 3)

In [23]:
px_df['gender'].value_counts()

gender
FEMALE    3642569
MALE      2865243
Name: count, dtype: int64

### Doctors Data Cleaning

In [24]:
doctors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60024 entries, 0 to 60023
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   doctorid       60024 non-null  object
 1   mainspecialty  27055 non-null  object
 2   age            20028 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.4+ MB

In [25]:
doctors_duplicate = doctors_df[doctors_df.duplicated()]

print(doctors_duplicate)
print("--------------------------------------------------------------------------------------")
print(doctors_df['age'].unique())
print("--------------------------------------------------------------------------------------")
print(doctors_df['mainspecialty'].unique())

Empty DataFrame
Columns: [doctorid, mainspecialty, age]
Index: []
--------------------------------------------------------------------------------------
[  41.   43.   26.   34.   50.   62.   38.   57.   44.   59.   39.   49.
   55.   37.   nan   40.   48.   51.   46.   45.   54.   61.   60.   31.
   65.   36.   72.   64.   35.   47.   33.   68.   42.   73.   53.   58.
   71.   52.   56.   67.   63.   66.   81.   69.  160.   70. 1048.   32.
   91.   75.   30.   78.   76.   27.   29.   74.    8.    7.   28.  124.
  123.   80.  113.   24.   25.   92.   77.  104.   23.   83.    4.   86.
   88.   21.   22.   84.   79.  944.   17.  132.   85.  938.]
--------------------------------------------------------------------------------------
['General Medicine' 'Family Medicine' 'Vascular Medicine' ...
 'Bone alignment therapy' 'Healot Biomekaniks' 'Allergist']

In [26]:
doctors_df['mainspecialty'].value_counts()

mainspecialty
Internal Medicine                           3812
General Medicine                            2317
Pediatrics                                  1709
Family Medicine                              894
General Physician                            881
                                            ...
General Physician (Pediatrics and Adult)       1
Marc                                           1
Orthopaedics (Bone and Joint Surgery)          1
Generalists                                    1
Allergist                                      1
Name: count, Length: 3973, dtype: int64

In [27]:
doctors_df['age'].value_counts()

age
34.0     1215
35.0     1082
33.0      973
37.0      971
36.0      953
         ...
91.0        1
124.0       1
123.0       1
92.0        1
938.0       1
Name: count, Length: 81, dtype: int64

In [28]:
age_range = doctors_df[doctors_df['age'] > 100]
print(age_range)

                               doctorid  \
318    F73B76CE8949FE29BF2A537CFA420E8F
484    1BB91F73E9D31EA2830A5E73CE3ED328
1727   CD14821DAB219EA06E2FD1A2DF2E3582
1934   D7A84628C025D30F7B2C52C958767E76
3038   8B313CBF30999888DE32DA1EC83FF503
3066   1160453108D3E537255E9F7B931F4E90
5598   674F3C2C1A8A6F90461E8A66FB5550BA
8415   3488330BA18D83E3D0AB177178CA66EB
31154  88D619AD97413B44D6659073B7B12F32
35035  C726062049174DD685BBB960958FA1C1
59136  B02EE9D17C3B943AFFA39F55282793FC

                                     mainspecialty     age
318                               Family medicines   160.0
484                      Obstetrics and Gynecology  1048.0
1727                                  internal med   124.0
1934                                             1   123.0
3038                                         OBGYN   113.0
3066                                            In   113.0
5598                                      Internal   104.0
8415                             Internal Medicine   104.0
31154                                           OB   944.0
35035                                          NaN   132.0
59136  Psychology, Psychotherapy, EAP, Counselling   938.0

In [29]:
doctors_df.shape

(60024, 3)

In [30]:
doctors_df = doctors_df.loc[doctors_df['age'] <= 90]

In [31]:
doctors_df.shape

(20015, 3)

In [32]:
print(doctors_df.head(10))

                           doctorid  \
0  AD61AB143223EFBC24C7D2583BE69251
1  D09BF41544A3365A46C9077EBB5E35C3
2  FBD7939D674997CDB4692D34DE8633C4
3  28DD2C7955CE926456240B2FF0100BDE
4  35F4A8D465E6E1EDC05F3D8AB658C551
5  D1FE173D08E959397ADF34B1D77E88D7
6  F033AB37C30201F73F142449D037028D
7  43EC517D68B6EDD3015B3EDC9A11367B
8  9778D5D219C5080B9A6A17BEF029331C
9  FE9FC289C3FF0AF142B6D3BEAD98A923

                                       mainspecialty   age
0                                   General Medicine  41.0
1                                    Family Medicine  43.0
2                                  Vascular Medicine  26.0
3                                  Otolaryngologists  34.0
4                                  General Dentistry  50.0
5                                         Orthopedic  62.0
6                                    Family Medicine  41.0
7                                      Acupunturist1  38.0
8                        Orthopaedic Sports Medicine  57.0
9  Masters of Science in Preventive & Regenerativ...  44.0

### Appointments Data Cleaning

In [33]:
appointments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9752932 entries, 0 to 9752931
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   pxid        object
 1   clinicid    object
 2   doctorid    object
 3   apptid      object
 4   status      object
 5   TimeQueued  object
 6   QueueDate   object
 7   StartTime   object
 8   EndTime     object
 9   type        object
 10  Virtual     object
dtypes: object(11)
memory usage: 818.5+ MB

In [34]:
clinics_nan_variables = clinics_df.columns[clinics_df.isnull().any()].tolist()
print(clinics_nan_variables)

[]

In [35]:
appointments_df['status'].value_counts()

status
Complete     6473675
Queued       2523855
Serving       284774
NoShow        230048
Cancel        213270
Skip           27298
Completed         10
Admitted           2
Name: count, dtype: int64

In [36]:
appointments_df['type'].value_counts()

type
Consultation    9640181
Inpatient        112751
Name: count, dtype: int64

In [37]:
appointments_df['Virtual'].value_counts()

Virtual
False    6276648
True     1523691
Name: count, dtype: int64

## Filtering Data

In [39]:
unique_doc_values = doctors_df['doctorid']
unique_doc_values_list = unique_doc_values.tolist()

unique_px_values = px_df['pxid']
unique_px_values_list = unique_px_values.tolist()

unique_clinic_values = clinics_df['clinicid']
unique_clinic_values_list = unique_clinic_values.tolist()

C:\Users\reign\AppData\Local\Temp\ipykernel_9784\3763829043.py:5: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_px = pd.read_csv("px.csv")

In [40]:
app_filtered_df = appointments_df[appointments_df['doctorid'].isin(unique_doc_values_list)]
app_filtered_df = appointments_df[appointments_df['clinicid'].isin(unique_clinic_values_list)]
app_filtered_df = appointments_df[appointments_df['pxid'].isin(unique_px_values_list)]

In [ ]:
unique_appointDoc_values = app_filtered_df['doctorid'].unique()
unique_appointDoc_values_list = unique_appointDoc_values.tolist()

doc_filtered_df = doctors_df[doctors_df['doctorid'].isin(unique_appointDoc_values_list)]

In [ ]:
filtered_px_df = pd.read_csv('px.csv', low_memory=False)

In [ ]:
filtered_px_df['age'] = pd.to_numeric(filtered_px_df['age'], errors='coerce')

filtered_px_df = filtered_px_df.drop_duplicates(subset='pxid', keep='first')

In [ ]:
filtered_px_df = filtered_px_df[(filtered_px_df['age'] >= 0) & (filtered_px_df['age'] <= 122)]

In [ ]:
filtered_px_df.to_csv('cleaned/new_px.csv', index=False)

In [ ]:
app_filtered_df.to_csv('app.csv', index=False)

## Export to CSV

In [38]:
clinics_df.to_csv('cleaned/clinics.csv', index=False)
px_df.to_csv('cleaned/px.csv', index=False)
doctors_df.to_csv('cleaned/doctors.csv', index=False)
appointments_df.to_csv('cleaned/appointments.csv', index=False)

## Import to Database